<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <!-- Tailwind -->
    {% if ENV != "dev" %}
    <link rel="stylesheet" href="/static/styles/output.css/">
    {% endif %}

    <!-- Custom tailwind styles -->
    <link rel="stylesheet" href="/static/styles/input.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="/static/styles/custom.css">

    <!-- Flowbite -->
    <script src="/static/flowbite.js"></script>

    <!-- HTMX -->
    <script src="/static/htmx.js" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>

    <script src="/static/authentication.js"></script>

    {% block head %}{% endblock head %}
    <title>PROJECT_NAME</title>
</head>


<body class="h-screen">
    {% block body %}{% endblock body %}
</body>


{% if ENV == "dev" %}
<!-- Autoreload -->
<script src="/static/ws.js"></script>
<div hx-ext="ws" ws-connect="/ws/autoreload">
    <div id="ws-notifications"></div>
</div>
<!-- Reload styles in case they change -->
<link rel="stylesheet" href="/static/styles/output.css/?nonce={{uuid}}">
{% endif %}

</html>